@import "__var.scss";

*,
*::before,
*::after {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}
body {
  background-image: $Radial-Gradient;
  padding: $box-padding;
}
.heading {
  display: grid;
  grid-auto-flow: column;

  padding: $box-padding;

  border: $Header-Outline solid 2px;
  border-radius: $border-radius;
}
.heading__score {
  display: grid;
  place-content: center;
  place-items: center;

  padding: $box-padding;

  background-color: aliceblue;
  border-radius: $border-radius;
}

.choice-section {
  display: grid;
  grid-template-columns: 1fr 1fr;

    place-items: center;

  //   padding: $box-padding;

  background: url("/images/bg-triangle.svg") no-repeat center;
  background-size: 50%;

  .choice-section__paper-wrapper {
    @include token-wrapper($Paper-Gradient);
  }
  .choice-section__scissors-wrapper {
    @include token-wrapper($Scissors-Gradient);
  }
  .choice-section__rock-wrapper {
    @include token-wrapper($Rock-Gradient);
    grid-column: 1/3;
    width: 35%
  }
  .choice-section__paper {
    @include token-img();
  }
  .choice-section__scissors {
    @include token-img();
  }
  .choice-section__rock {
    @include token-img();
  }
}
