@font-face {
  src: url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
  font-family: "Barlow Semi Condensed", sans-serif;
}
*,
*::before,
*::after {
  font-family: "Barlow Semi Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: white;
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}

button {
  background-color: unset;
  border: unset;
  cursor: pointer;
}

body {
  background-image: linear-gradient(90deg, hsl(214deg, 47%, 23%), hsl(237deg, 49%, 15%));
  padding: 1em;
  display: grid;
  gap: 20px;
}

.heading {
  display: grid;
  grid-template-columns: 1fr -webkit-min-content;
  grid-template-columns: 1fr min-content;
  padding: 1em;
  border: hsl(217deg, 16%, 45%) solid 2px;
  border-radius: 10px;
}
.heading .heading__score {
  display: grid;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  justify-items: center;
  align-content: center;
  padding: 0px 1em;
  background-color: aliceblue;
  border-radius: 10px;
}
.heading .heading__score__title {
  color: hsl(229deg, 64%, 46%);
  font-size: 0.6rem;
  font-weight: 600;
}
.heading .heading__score__value {
  color: black;
  font-size: 1.4rem;
  font-weight: 700;
}

.choice-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  background: url("/images/bg-triangle.svg") no-repeat center;
  background-size: 50%;
}
.choice-section .choice-section__paper-wrapper {
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  width: 70%;
  background: linear-gradient(90deg, hsl(230deg, 89%, 62%), hsl(230deg, 89%, 65%));
  border-radius: 50%;
  box-shadow: inset rgba(20, 20, 20, 0.3) 0px -7px 0px -1px;
  cursor: pointer;
}
.choice-section .choice-section__scissors-wrapper {
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  width: 70%;
  background: linear-gradient(90deg, hsl(39deg, 89%, 49%), hsl(40deg, 84%, 53%));
  border-radius: 50%;
  box-shadow: inset rgba(20, 20, 20, 0.3) 0px -7px 0px -1px;
  cursor: pointer;
}
.choice-section .choice-section__rock-wrapper {
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  width: 70%;
  background: linear-gradient(90deg, hsl(349deg, 71%, 52%), hsl(349deg, 70%, 56%));
  border-radius: 50%;
  box-shadow: inset rgba(20, 20, 20, 0.3) 0px -7px 0px -1px;
  cursor: pointer;
  grid-column: 1/3;
  width: 35%;
}
.choice-section .choice-section__paper {
  display: inline-block;
  aspect-ratio: 1/1;
  width: 70%;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 16%;
  background-color: white;
  border-radius: 50%;
  box-shadow: inset hsla(0deg, 2%, 32%, 0.15) 0px 1em 0px -10px;
}
.choice-section .choice-section__scissors {
  display: inline-block;
  aspect-ratio: 1/1;
  width: 70%;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 16%;
  background-color: white;
  border-radius: 50%;
  box-shadow: inset hsla(0deg, 2%, 32%, 0.15) 0px 1em 0px -10px;
}
.choice-section .choice-section__rock {
  display: inline-block;
  aspect-ratio: 1/1;
  width: 70%;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 16%;
  background-color: white;
  border-radius: 50%;
  box-shadow: inset hsla(0deg, 2%, 32%, 0.15) 0px 1em 0px -10px;
}

.token-placeholder {
  display: grid;
  display: none;
  grid-auto-flow: column;
  grid-template-rows: -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content;
  grid-auto-columns: 1fr 1fr;
  justify-items: center;
  text-align: center;
  gap: 20px;
}
.token-placeholder .token-placeholder__user-choice {
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  width: 70%;
  background: rgba(0, 0, 0, 0.199);
  border-radius: 50%;
  box-shadow: inset rgba(20, 20, 20, 0.3) 0px -7px 0px -1px;
  cursor: pointer;
  box-shadow: 0px 0px;
}
.token-placeholder .token-placeholder__comp-choice {
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  width: 70%;
  background: rgba(0, 0, 0, 0.199);
  border-radius: 50%;
  box-shadow: inset rgba(20, 20, 20, 0.3) 0px -7px 0px -1px;
  cursor: pointer;
  box-shadow: 0px 0px;
}

.result-declaration {
  text-align: center;
}
.result-declaration__win {
  color: white;
  font-size: 3rem;
}
.result-declaration__lose {
  color: white;
  font-size: 3rem;
}
.result-declaration__play-again {
  color: hsl(214deg, 47%, 23%);
  font-weight: 500;
  background-color: white;
  border-radius: 10px;
  padding: 1em;
  width: max(0px, 60vw);
}

.btn-show-rules {
  justify-self: center;
  display: inline-block;
  background-color: transparent;
  border: white 1px solid;
  border-radius: 10px;
  padding: 1em 3em;
}

.rules {
  position: absolute;
  display: none;
  justify-items: center;
  align-items: center;
  inset: 0px;
  background-color: rgb(255, 255, 255);
}
.rules h2 {
  color: black;
}
.rules .rules__cross-btn {
  color: black;
}

.attribution {
  color: white;
}
.attribution a {
  color: rgb(255, 0, 0);
  text-decoration: none;
}

.winner-animation {
  box-shadow: 0px 0px 0px 20px hsl(218deg, 34%, 27%), 0px 0px 0px 60px hsla(218deg, 34%, 27%, 0.5), 0px 0px 0px 120px hsla(218deg, 34%, 27%, 0.2), inset rgba(20, 20, 20, 0.3) 0px -7px 0px -1px;
  -webkit-animation: winner-shadow 2s ease-in-out;
          animation: winner-shadow 2s ease-in-out;
}

@-webkit-keyframes winner-shadow {
  0% {
    box-shadow: 0px 0px 0px 0px hsla(218deg, 34%, 27%, 0);
  }
  50% {
    box-shadow: 0px 0px 0px 20px hsl(218deg, 34%, 27%), 0px 0px 0px 60px hsla(218deg, 34%, 27%, 0.5), 0px 0px 0px 120px hsla(218deg, 34%, 27%, 0.2), inset rgba(20, 20, 20, 0.3) 0px -7px 0px -1px;
  }
  100% {
    box-shadow: 0px 0px 0px 0px hsla(218deg, 34%, 27%, 0);
  }
}

@keyframes winner-shadow {
  0% {
    box-shadow: 0px 0px 0px 0px hsla(218deg, 34%, 27%, 0);
  }
  50% {
    box-shadow: 0px 0px 0px 20px hsl(218deg, 34%, 27%), 0px 0px 0px 60px hsla(218deg, 34%, 27%, 0.5), 0px 0px 0px 120px hsla(218deg, 34%, 27%, 0.2), inset rgba(20, 20, 20, 0.3) 0px -7px 0px -1px;
  }
  100% {
    box-shadow: 0px 0px 0px 0px hsla(218deg, 34%, 27%, 0);
  }
}
.shacking-animation {
  -webkit-animation: shacking 100ms ease-in infinite;
          animation: shacking 100ms ease-in infinite;
}

@-webkit-keyframes shacking {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(-2px, -2px);
  }
  75% {
    transform: translate(2px, 2px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes shacking {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(-2px, -2px);
  }
  75% {
    transform: translate(2px, 2px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}/*# sourceMappingURL=index_style.css.map */