*,
*::before,
*::after {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}

button {
  background-color: unset;
  border: unset;
  cursor: pointer;
}

body {
  background-image: linear-gradient(90deg, hsl(214deg, 47%, 23%), hsl(237deg, 49%, 15%));
  padding: 1em;
}

.heading {
  display: grid;
  grid-auto-flow: column;
  padding: 1em;
  border: hsl(217deg, 16%, 45%) solid 2px;
  border-radius: 10px;
}

.heading__score {
  display: grid;
  place-content: center;
  place-items: center;
  padding: 1em;
  background-color: aliceblue;
  border-radius: 10px;
}

.choice-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  background: url("/images/bg-triangle.svg") no-repeat center;
  background-size: 50%;
}
.choice-section .choice-section__paper-wrapper {
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  width: 70%;
  background: linear-gradient(90deg, hsl(230deg, 89%, 62%), hsl(230deg, 89%, 65%));
  border-radius: 50%;
  cursor: pointer;
}
.choice-section .choice-section__scissors-wrapper {
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  width: 70%;
  background: linear-gradient(90deg, hsl(39deg, 89%, 49%), hsl(40deg, 84%, 53%));
  border-radius: 50%;
  cursor: pointer;
}
.choice-section .choice-section__rock-wrapper {
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  width: 70%;
  background: linear-gradient(90deg, hsl(349deg, 71%, 52%), hsl(349deg, 70%, 56%));
  border-radius: 50%;
  cursor: pointer;
  grid-column: 1/3;
  width: 35%;
  z-index: -999999;
}
.choice-section .choice-section__paper {
  display: inline-block;
  aspect-ratio: 1/1;
  width: 70%;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 16%;
  background-color: white;
  border-radius: 50%;
  box-shadow: inset hsla(0deg, 2%, 32%, 0.15) 0px 1em 0px -10px;
}
.choice-section .choice-section__scissors {
  display: inline-block;
  aspect-ratio: 1/1;
  width: 70%;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 16%;
  background-color: white;
  border-radius: 50%;
  box-shadow: inset hsla(0deg, 2%, 32%, 0.15) 0px 1em 0px -10px;
}
.choice-section .choice-section__rock {
  display: inline-block;
  aspect-ratio: 1/1;
  width: 70%;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 16%;
  background-color: white;
  border-radius: 50%;
  box-shadow: inset hsla(0deg, 2%, 32%, 0.15) 0px 1em 0px -10px;
}

.winner-animation::after {
  position: absolute;
  overflow: visible;
  content: "";
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 999999;
  box-shadow: inset 0px 0px 50px hsl(58deg, 100%, 50%);
  transition: opacity 3s ease-in-out;
}

@-webkit-keyframes winner-shadow {
  0% {
    box-shadow: 0px 0px 0px 20px hsla(218deg, 34%, 27%, 0), 0px 0px 0px 60px hsla(218deg, 34%, 27%, 0), 0px 0px 0px 120px hsla(218deg, 34%, 27%, 0);
  }
  50% {
    box-shadow: 0px 0px 0px 20px hsla(218deg, 34%, 27%, 0.5);
  }
  75% {
    box-shadow: 0px 0px 0px 20px hsl(218deg, 34%, 27%), 0px 0px 0px 60px hsla(218deg, 34%, 27%, 0.5), 0px 0px 0px 120px hsla(218deg, 34%, 27%, 0.2);
  }
}

@keyframes winner-shadow {
  0% {
    box-shadow: 0px 0px 0px 20px hsla(218deg, 34%, 27%, 0), 0px 0px 0px 60px hsla(218deg, 34%, 27%, 0), 0px 0px 0px 120px hsla(218deg, 34%, 27%, 0);
  }
  50% {
    box-shadow: 0px 0px 0px 20px hsla(218deg, 34%, 27%, 0.5);
  }
  75% {
    box-shadow: 0px 0px 0px 20px hsl(218deg, 34%, 27%), 0px 0px 0px 60px hsla(218deg, 34%, 27%, 0.5), 0px 0px 0px 120px hsla(218deg, 34%, 27%, 0.2);
  }
}
.token-placeholder {
  display: grid;
  display: none;
  grid-auto-flow: column;
  grid-template-rows: -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content;
  grid-auto-columns: 1fr 1fr;
  justify-items: center;
  text-align: center;
  gap: 20px;
}
.token-placeholder .token-placeholder__user-choice {
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  width: 70%;
  background: rgba(0, 0, 0, 0.199);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 0px;
}
.token-placeholder .token-placeholder__comp-choice {
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  width: 70%;
  background: rgba(0, 0, 0, 0.199);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 0px;
}

.result-declaration {
  text-align: center;
}
.result-declaration__play-again {
  background-color: white;
  border-radius: 10px;
  padding: 1em;
  width: max(0px, 60vw);
}

.btn-show-rules {
  display: inline-block;
  background-color: transparent;
  border: white 2px solid;
  border-radius: 10px;
  padding: 1em;
  margin-inline: 45%;
}/*# sourceMappingURL=index_style.css.map */