@import "__var.scss";

@font-face {
  src: url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
  font-family: "Barlow Semi Condensed", sans-serif;
}
*,
*::before,
*::after {
  font-family: "Barlow Semi Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: white;

  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}

button {
  background-color: unset;
  border: unset;
  cursor: pointer;
}
body {
  background-image: $Radial-Gradient;
  padding: $box-padding;

  display: grid;
  align-content: space-between;
  margin-inline: auto;

  gap: min(2%, 20px);

  min-height: 100vh;
}

.heading {
  display: grid;
  grid-template-columns: min-content min-content;

  justify-content: space-between;

  padding: $box-padding;

  border: $Header-Outline solid 2px;
  border-radius: $border-radius;

  width: clamp(0px, 80vw, $desktop-media-query);
  margin-inline: auto;

  .heading__title-img {
    height: auto;
    width: min(30vw, 130px);
  }

  .heading__score {
    display: grid;
    grid-auto-rows: min-content;

    justify-items: center;
    align-content: center;

    padding: 0px $box-padding;

    background-color: aliceblue;
    border-radius: $border-radius;

    &__title {
      color: $Score-Text;
      font-size: 0.6rem;
      font-weight: 600;
    }
    &__value {
      color: rgba(0, 0, 0, 0.632);
      font-size: 2.4rem;
      font-weight: 700;
    }
  }
}

.choice-section {
  display: grid;
  grid-template-columns: 1fr 1fr;

  place-items: center;

  width: min(70vw, 900px);
  @media screen and (min-width: $desktop-media-query) {
    width: clamp(400px, 40vw, 800px);
  }
  margin-inline: auto;

  background: url("/images/bg-triangle.svg") no-repeat center;
  background-size: 50%;

  .choice-section__paper-wrapper {
    @include token-wrapper($Paper-Gradient);
  }
  .choice-section__scissors-wrapper {
    @include token-wrapper($Scissors-Gradient);
  }
  .choice-section__rock-wrapper {
    @include token-wrapper($Rock-Gradient);
    grid-column: 1/3;
    width: 35%;
  }
  .choice-section__paper {
    @include token-img();
  }
  .choice-section__scissors {
    @include token-img();
  }
  .choice-section__rock {
    @include token-img();
  }
}
.token-placeholder {
  // display: grid;
  display: none;

  grid-template-rows: min-content min-content min-content;
  grid-template-columns: 1fr 1fr;

  justify-items: center;
  text-align: center;

  gap: 20px;

  $placeholder-color: rgba(0, 0, 0, 0.199);
  .token-placeholder__user-choice {
    order: -1;
    @include token-wrapper($placeholder-color);
    box-shadow: 0px 0px;
  }
  .token-placeholder__user-title {
    order: 3;
  }
  .token-placeholder__comp-choice {
    order: 2;
    @include token-wrapper($placeholder-color);
    box-shadow: 0px 0px;
  }
  .token-placeholder__comp-title {
    order: 4;
  }
}
@media screen and (min-width: $desktop-media-query) {
  .token-placeholder {
    place-self: center;

    grid-template-rows: auto auto;
    grid-template-columns: 2fr 1fr 2fr;

    align-items: center;

    .token-placeholder__user-choice {
      order: 4;
      order: unset;
      // grid-area: 2/1 3/2;
      grid-column: 1/2;
      grid-row: 2/3;
    }
    .token-placeholder__user-title {
      order: -1;
      order: unset;
      // grid-area: 1/1 2/2;
      grid-column: 1/2;
      grid-row: 1/2;
    }
    .token-placeholder__comp-choice {
      order: 6;
      order: unset;
      // grid-area: 2/3 3/4;
      grid-column: 3/4;
      grid-row: 2/3;
    }
    .token-placeholder__comp-title {
      order: 3;
      order: unset;
      // grid-area: 1/3 2/4;
      grid-column: 3/4;
      grid-row: 1/2;
    }
    .result-declaration {
      order: unset;
      grid-column: 2/3;
      grid-row: 1/3;
    }
  }
}

.result-declaration {
  order: 5;
  grid-column: span 2;

  display: none; //change this!! display
  text-align: center;

  @mixin result-declaration-style {
    color: white;
    font-size: 3rem;
  }
  &__win {
    @include result-declaration-style;
  }
  &__lose {
    @include result-declaration-style;
  }
  &__tie {
    @include result-declaration-style;
  }
  &__play-again {
    color: hsl(214, 47%, 23%);
    font-weight: 500;

    margin: 20px;

    background-color: white;
    border-radius: $border-radius;
    padding: $box-padding;
    width: max(0px, 60vw);
    @media screen and (min-width: $desktop-media-query) {
      width: auto;
    }
  }
}

.btn-show-rules {
  justify-self: center;
  // aspect-ratio: 3/1;

  display: inline-block;
  background-color: transparent;
  border: white 1px solid;
  border-radius: $border-radius;
  padding: $box-padding calc($box-padding + 1em);

  @media screen and (min-width: $desktop-media-query) {
    position: fixed;
    right: 15px;
    bottom: 15px;
    // left: 100%;
    // top: 100%;

    padding: calc($box-padding - 5px) calc($box-padding + 1.5em);
  }
}

.rules-backdrop {
  display: none;

  position: absolute;
  inset: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.758);
}
.rules {
  position: absolute;
  overflow: scroll;

  display: none;

  justify-items: center;
  align-items: center;

  inset: 0px;
  @media screen and (min-width: $desktop-media-query) {
      padding: 1em;
    inset-inline: 200px;
    inset-block: 100px;
  }

  background-color: rgb(255, 255, 255);

  h2 {
    @media screen and (min-width: $desktop-media-query) {
      justify-self: flex-start;
    }
    color: rgba(88, 86, 86, 0.705);
    letter-spacing: -2px;
    font-size: 2rem;
  }
  .rules__rule-img-wrapper {
    padding: 1em;
  }

  .rules__cross-btn {
    color: black;
  }
  .rules__cross-btn:hover {
    animation: shacking 0.5s;
  }

  @mixin rules__cross-btn-psuedo {
    content: "";
    display: inline-block;

    background-color: rgba(127, 124, 124, 0.506);
    border-radius: 300px;
    width: 30px;
    height: 3px;
  }
  .rules__cross-btn::before {
    @include rules__cross-btn-psuedo;
    transform: rotate(-45deg) translateX(70%);
  }
  .rules__cross-btn::after {
    @include rules__cross-btn-psuedo;
    transform: rotate(45deg) translateX(-70%);
  }
}

.attribution {
  margin-block: 20px;

  color: white;
  a,
  a:visited {
    color: rgb(255, 0, 0);
    text-decoration: none;
  }
}

///////////////////////////////////////
///////////// ANIMATIONS /////////////
/////////////////////////////////////

.winner-animation {
  box-shadow: 0px 0px 0px 20px hsl(218, 34%, 27%),
    0px 0px 0px 60px hsl(218, 34%, 27%, 0.5),
    0px 0px 0px 120px hsl(218, 34%, 27%, 0.2),
    inset rgba(20, 20, 20, 0.3) 0px -7px 0px -1px;
  animation: winner-shadow 2s ease-in-out;
}
@keyframes winner-shadow {
  0% {
    box-shadow: 0px 0px 0px 00px hsl(218, 34%, 27%, 0);
  }
  50% {
    box-shadow: 0px 0px 0px 20px hsl(218, 34%, 27%),
      0px 0px 0px 60px hsl(218, 34%, 27%, 0.5),
      0px 0px 0px 120px hsl(218, 34%, 27%, 0.2),
      inset rgba(20, 20, 20, 0.3) 0px -7px 0px -1px;
  }
  100% {
    box-shadow: 0px 0px 0px 0px hsl(218, 34%, 27%, 0);
  }
}

.shacking-animation {
  animation: shacking 100ms ease-in infinite;
}

@keyframes shacking {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(-2px, -2px);
  }
  75% {
    transform: translate(2px, 2px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}
