@import "__var.scss";

*,
*::before,
*::after {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}
body {
  background-image: $Radial-Gradient;
  padding: $box-padding;
}
.heading {
  display: grid;
  grid-auto-flow: column;

  padding: $box-padding;

  border: $Header-Outline solid 2px;
  border-radius: $border-radius;
}
.heading__score {
  display: grid;
  place-content: center;
  place-items: center;

  padding: $box-padding;

  background-color: aliceblue;
  border-radius: $border-radius;
}

.choice-section {
  display: grid;
  // display: none; // element hidden for now
  grid-template-columns: 1fr 1fr;

    place-items: center;

  //   padding: $box-padding;

  background: url("/images/bg-triangle.svg") no-repeat center;
  background-size: 50%;

  .choice-section__paper-wrapper {

    @include token-wrapper($Paper-Gradient);
  }
  .choice-section__scissors-wrapper {

    @include token-wrapper($Scissors-Gradient);
  }
  .choice-section__rock-wrapper {

    @include token-wrapper($Rock-Gradient);
    grid-column: 1/3;
    width: 35%;
  }
  .choice-section__paper {
    @include token-img();
  }
  .choice-section__scissors {
    @include token-img();
  }
  .choice-section__rock {
    @include token-img();
  }
}
.winner-animation::before{
  display: inline-block;
  position: absolute;
  content: '';
  
  width: 100%;
  height: 100%;

  border-radius: 50%;
  border: solid 2px red;
  z-index: 9999;

 //Animation of shadow
    // box-shadow: 0px 0px 0px 20px hsl(218, 29%, 38%), 
    // 0px 0px 0px 60px  hsl(218, 34%, 27%, 0.5), 
    // 0px 0px 0px 120px hsl(218, 34%, 27%, 0.2) ;
    box-shadow: 0px 0px 120px 120px rgb(0, 255, 128), 0px 0px 10px yellow inset ;
    // box-shadow: 0px 0px 0px 0px rgb(253, 4, 4), 0px 0px 0px 20px hsl(218, 34%, 27%), 0px 0px 0px 60px hsl(218, 34%, 27%, 0.5), 0px 0px 0px 120px hsl(218, 34%, 27%, 0.2) ;
    // animation: winner-shadow 2s ease-in-out;
}
// @keyframes winner-shadow {
//   0%{
//     // box-shadow: 0px 0px 0px 20px;
//     // box-shadow: 0px 0px 0px 20px hsl(218, 34%, 27%, 0);
//     // box-shadow: 0px 0px 0px 20px hsl(218, 34%, 27%, 0), 0px 0px 0px 60px hsl(218, 34%, 27%, 0), 0px 0px 0px 120px hsl(218, 34%, 27%, 0) ;

//   }
//   50%{
//     // box-shadow: 0px 0px 0px 20px hsl(218, 34%, 27%, 0.5);
//   }
//   75% {
//     // box-shadow: 0px 0px 0px;
//     // box-shadow: 0px 0px 0px 20px hsl(218, 34%, 27%, 1);
//     // box-shadow: 0px 0px 0px 20px hsl(218, 34%, 27%), 0px 0px 0px 60px hsl(218, 34%, 27%, 0.5), 0px 0px 0px 120px hsl(218, 34%, 27%, 0.2) ;
//   }
  
// }

.token-placeholder{
  display: grid;
  display: none;
  grid-auto-flow: column;

  grid-template-rows: min-content min-content;
  grid-auto-columns: 1fr 1fr;

  justify-items: center;
  text-align: center;

  gap: 20px;

  $placeholder-color: rgba(0, 0, 0, 0.199);
  .token-placeholder__user-choice{
    @include token-wrapper($placeholder-color);
    box-shadow: 0px 0px;
  }
  .token-placeholder__comp-choice{
    @include token-wrapper($placeholder-color);
    box-shadow: 0px 0px;
  }


}


.result-declaration{
  text-align: center;

  // &__win{
  // }
  // &__lose{
  // }
  &__play-again{
    border-radius: $border-radius;
  }
}

.btn-show-rules{
  display: inline-block;
  place-items: center;
  background-color: transparent;
  border-radius: $border-radius;
  text-align: center;
  // width: 10%;
  margin: 0px auto;
}